@model AutoServis.Models.Mehanik

@{
    ViewData["Title"] = "Uredi mehanika";
}

<h1>Uredi mehanika</h1>

<h4>Mehanik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MehanikID" />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priimek" class="control-label"></label>
                <input asp-for="Priimek" class="form-control" />
                <span asp-validation-for="Priimek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specializacija" class="control-label"></label>
                <input asp-for="Specializacija" class="form-control" />
                <span asp-validation-for="Specializacija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumZaposlitve" class="control-label"></label>
                <input asp-for="DatumZaposlitve" class="form-control" />
                <span asp-validation-for="DatumZaposlitve" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Shrani" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Nazaj</a>
            </div>
        </form>
    </div>
</div>