@{
    ViewData["Title"] = "Domov";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli v AutoServis IS</h1>
    <p>Sistem za upravljanje z avtoservisom in rezervacijami.</p>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Stranke</h5>
                    <p class="card-text">Upravljanje s strankami in njihovimi podatki.</p>
                    <a href="/Stranke" class="btn btn-primary">Pregled strank</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vozila</h5>
                    <p class="card-text">Evidenca vozil in njihovih podatkov.</p>
                    <a href="/Vozila" class="btn btn-primary">Pregled vozil</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Rezervacije</h5>
                    <p class="card-text">Upravljanje z rezervacijami in servisi.</p>
                    <a href="/Rezervacije" class="btn btn-primary">Pregled rezervacij</a>
                </div>
            </div>
        </div>
    </div>
</div>