@model AutoServis.Models.Stranka

@{
    ViewData["Title"] = "Dodaj stranko";
}

<h1>Dodaj novo stranko</h1>

<h4>Stranka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Priimek" class="control-label">Priimek</label>
                <input asp-for="Priimek" class="form-control" />
                <span asp-validation-for="Priimek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label">Ime</label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label">Telefon</label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumRegistracije" class="control-label">Datum registracije</label>
                <input asp-for="DatumRegistracije" class="form-control" />
                <span asp-validation-for="DatumRegistracije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj na seznam</a>
</div>